<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.online_shopping_website.mapper.TransactionMapper">

    <resultMap id="TransactionMap" type="com.example.online_shopping_website.entity.Transaction">
        <result column="transactionId" property="transactionId"/>
        <result column="transactionDate" property="transactionDate"/>
        <result column="fromWho" property="fromWho"/>
        <result column="toWho" property="toWho"/>
        <result column="transactionType" property="transactionType"/>
        <result column="amount" property="amount"/>
        <result column="balance" property="balance"/>
    </resultMap>

    <select id="getAllTransactionsByusername" resultMap="TransactionMap">
        SELECT transactionDate,fromWho,toWho,amount,balance FROM transaction WHERE fromWho = #{username}
    </select>


</mapper>