<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.online_shopping_website.mapper.TransactionMapper">

    <resultMap id="TransactionMap" type="com.example.online_shopping_website.entity.Transaction">
        <result column="transactionId" property="transactionId"/>
        <result column="transactionDate" property="transactionDate"/>
        <result column="transactionType" property="transactionType"/>
        <result column="outPart" property="outPart"/>
        <result column="inPart" property="inPart"/>
        <result column="outAccountType" property="outAccountType"/>
        <result column="inAccountType" property="inAccountType"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <select id="GetTransactionsByUsername" resultMap="TransactionMap">
        SELECT * FROM transaction
            WHERE (outPart = #{username} OR inPart = #{username}) AND (outAccountType = #{accountType} OR inAccountType = #{accountType});
    </select>

    <select id="GetAdminTransactions" resultMap="TransactionMap">
        SELECT * FROM transaction
        WHERE (outPart = '管理员' OR inPart = '管理员' ) AND (outAccountType = #{accountType} OR inAccountType = #{accountType});
    </select>

    <insert id="InsertTransaction">
        INSERT INTO transaction (transactionDate, transactionType, outPart, inPart, outAccountType, inAccountType, amount)
            VALUES
            (#{transactionDate}, #{transactionType}, #{outPart}, #{inPart}, #{outAccountType}, #{inAccountType}, #{amount})
    </insert>

    <select id="GetAdminProfitForWeek" resultType="java.math.BigDecimal">
        SELECT amount FROM transaction
            WHERE (transactionDate BETWEEN DATE_SUB(NOW(), INTERVAL 7 DAY) AND NOW() ) AND transactionType = 9;
    </select>

    <select id="GetAdminProfitForMonth" resultType="java.math.BigDecimal">
        SELECT amount FROM transaction
            WHERE (transactionDate BETWEEN DATE_SUB(NOW(), INTERVAL 30 DAY) AND NOW() ) AND transactionType = 9;
    </select>

    <select id="GetShopProfitForWeek" resultType="java.math.BigDecimal">
        SELECT amount FROM transaction
            WHERE (transactionDate BETWEEN DATE_SUB(NOW(), INTERVAL 7 DAY) AND NOW() ) AND transactionType = 10;
    </select>

    <select id="GetShopProfitForMonth" resultType="java.math.BigDecimal">
        SELECT amount FROM transaction
            WHERE (transactionDate BETWEEN DATE_SUB(NOW(), INTERVAL 30 DAY) AND NOW() ) AND transactionType = 10;
    </select>

    <select id="GetTransactionsByUsernameForWeek" resultMap="TransactionMap">
        SELECT * FROM transaction
        WHERE (outPart = #{username} OR inPart = #{username}) AND
              (outAccountType = #{accountType} OR inAccountType = #{accountType}) AND
              (transactionDate BETWEEN DATE_SUB(NOW(), INTERVAL 7 DAY) AND NOW());
    </select>

    <select id="GetTransactionsByUsernameForMonth" resultMap="TransactionMap">
        SELECT * FROM transaction
        WHERE (outPart = #{username} OR inPart = #{username}) AND
            (outAccountType = #{accountType} OR inAccountType = #{accountType}) AND
            (transactionDate BETWEEN DATE_SUB(NOW(), INTERVAL 30 DAY) AND NOW());
    </select>

    <select id="GetAdminTransactionsForWeek" resultMap="TransactionMap">
        SELECT * FROM transaction
        WHERE   (outPart = '管理员' OR inPart = '管理员' ) AND
                (outAccountType = #{accountType} OR inAccountType = #{accountType}) AND
                (transactionDate BETWEEN DATE_SUB(NOW(), INTERVAL 7 DAY) AND NOW());
    </select>

    <select id="GetAdminTransactionsForMonth" resultMap="TransactionMap">
        SELECT * FROM transaction
        WHERE   (outPart = '管理员' OR inPart = '管理员' ) AND
                (outAccountType = #{accountType} OR inAccountType = #{accountType}) AND
                (transactionDate BETWEEN DATE_SUB(NOW(), INTERVAL 30 DAY) AND NOW());
    </select>
</mapper>