<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.online_shopping_website.mapper.TransactionMapper">

    <resultMap id="TransactionMap" type="com.example.online_shopping_website.entity.Transaction">
        <result column="transactionId" property="transactionId"/>
        <result column="transactionDate" property="transactionDate"/>
        <result column="transactionType" property="transactionType"/>
        <result column="accountType" property="accountType"/>
        <result column="host" property="host"/>
        <result column="counterparty" property="counterparty"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <select id="getAllTransactionsByusername" resultMap="TransactionMap">
        SELECT transactionDate,host,counterparty,amount FROM transaction WHERE host = #{username}
    </select>

    <insert id="InsertTransaction">
        INSERT INTO transaction (transactionDate, transactionType, accountType, host, counterparty, amount)
            VALUES
            (#{transactionDate}, #{transactionType}, #{accountType}, #{host}, #{counterparty}, #{amount})
    </insert>
</mapper>